@charset "utf-8";

/* header start */
header{
   padding: 19px 30px;
   position: absolute;
   top: 0;
   left: 50%;
   z-index: 1;
   transform: translateX(-50%);
   box-sizing: border-box;
   width: 100%;
   /* transition: .3s; */
}

.header a{
   font-weight: bold;
   font-style: italic;
 }

.header-inner{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
 }

header.fixed{
   position: fixed;
   background-color: #282f35;
   padding: 30px;
   width: 100%;
   transition: .3s;
}
.header-home{
   font-size: 2.6rem;
 }
 .header-ul{
   display: flex;
 }
 .header-li{
   margin-left: 30px;
 }
 .burger-btn{
    display: none;
 }
/* header end */

/* main visual start */
.main-visual img{
   object-fit: cover;
   width: 100%;
   height: 100vh;
   min-height: 100%;
}
.brsp{
   display: none;
}
.copy{
   position: absolute;
   width: 100%;
   max-width: 1100px;
   left: 50%;
   transform: translateX(-50%);
   bottom: 177px;
   color: #fff;
}

.main-copy{
   font-size: 6.6rem;
}
.sub-copy{
   font-size: 3rem;
   font-weight: bold;
   /* margin-top: 2%; */
   /* margin-left: 5%; */
}
.slick-dots{
   bottom: 25px;
}
/* main visual end */

/* concept start */
.concept-section{
   margin: 5% auto;
}


.concept-sub{
   font-size: 2rem;
   font-weight: bolder;
   margin: 5% auto;
   text-align: center;
}
.concept-content{
   display: flex;
   justify-content: space-between;
}
.content-text{
   padding-right: 15%;
}
.concept-content img{
   padding: auto 10%;
}
/* concept end */

/* works start */
.works-section{
   padding: 100px 0;
   background-image: url(../img/works-bgi@2x.jpg);
   background-size: cover;
   background-position: center;
}
.works-inner{
   margin: 0 auto;
}

.works-contents{
   display: flex;
   justify-content: space-between;
   margin-bottom: 5%;
}
.works-list{
   width: 320px;
   height: 324px;
   background-color: #fff;
}
.works-list p{
   padding: 10px;
}
#works-more{
   display: none;
}
/* works end */

/* service start */
.service-list{
   display: flex;
   height: 320px;
}

.service-list a{
   color: #fff;
   font-size: 3rem;
   font-style: italic;
   margin: auto;
   display: block;
   width: 100%;
   text-align: center;
   line-height: 320px;
}
.service-list a:hover{
   background-color: rgba(40,47,53,.7);
   transition: .3s;
}
.service-list li{
   width: 33.3%;
}
.service-1{
   background-image: url(../img/service-img01@2x.jpg);
}
.service-2{
   background-image: url(../img/service-img02@2x.jpg);
}
.service-3{
   background-image: url(../img/service-img03@2x.jpg);
}
/* service end */

/* contact start */
.contact-section{
   background-image: url(../img/contact-bgi@2x.jpg);
   padding: 100px 0;
   background-size: cover;
   background-position: center;
}
.contact-inner{
   margin: 0 auto;
}
.contact-contents{
   font-size: 2rem;
   color: #fff;
   margin: 10% auto;
   text-align: center;
}
/* contact end */

/* footer start */
.footer{
   height: 79px;
}
.footer p{
   font-size: 1rem;
   text-align: center;
   padding: 30px 0;
}
/* footer end */

@media screen and (max-width:768px){

   /* header sp start  */
   .header-nav{
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: #282F35;
   }
   .header-ul{
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .header-li{
      margin: 0 0 30px;
   }
   .burger-btn{
      display: block;
      position: absolute;
      top: 30px;
      right: 4vw;
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
      padding: 0;
   }
   .burger-btn .bar{
      display: block;
      height: 3px;
      width: 30px;
      background-color: #fff;
   }
   .burger-btn.cross .bar_top{
      transform: rotate(45deg) translate(8px,8px);
      transition: .3s;
    }
    .burger-btn.cross .bar_mid{
      opacity: 0;
      transition: .3s;
    }
    .burger-btn.cross .bar_bottom{
      transform: rotate(-45deg) translate(8px,-8px);
      transition: .3s;
   }

   .bar_top{
      margin-bottom: 8px;
    }
   .bar_mid{
      margin-bottom: 8px;
   }
   /* header sp end */

   /* main visual sp start */
   .brsp{
      display: block;
   }
   .copy{
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      white-space: nowrap;
      font-weight: bold;
   }
   .main-copy{
      text-align: center;
      font-size: 9.8vw;
   }
   .sub-copy{
      font-size: 6vw;
      text-align: center;

   }
   /* main visual sp end */

   /* concept sp start */
   .content-text{
      text-align: center;
      padding: 30px 10px;
   }

   .concept-content{
      flex-direction: column;
   }
   /* concept sp end */

   /* works sp start */
   .works-contents{
      flex-direction: column;
      justify-content: center;
      text-align: center;
   }
   .works-list{
      margin: 5% auto;
   }
   /* works sp end */
   
   /* service sp start */
   .service-list{
      flex-direction: column;
      height: auto;
   }
   .service-list li{
      width: 100%;
   }
   /* service sp end */
}